$colorDarkGrey: #4C4C4C;
$colorGrey: #9B9B9B;
$colorTitle: #727272;
$fontAsap: 'Asap', sans-serif;

@mixin btn {
  border: 1px solid $colorDarkGrey;
  background-color: transparent;
  padding: 20px 40px;
  color: $colorDarkGrey;
  outline: none;
  transition: .3s;

  &:hover {
    border-color: #fff;
    background-color: #fff;
  }
}

@mixin btn-dark {

}

@mixin title {
  font-size: 46px;
  color: $colorTitle;
  font-family: $fontAsap;
}

.main-inner {
  background: url(../images/baner.png) center no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-bottom: 20px;
  max-width: 100%;

  //@include media-breakpoint-down(md) {
  //  min-height: 600px;
  //}

  .header {
    padding-top: 30px;
  }


  .nav-item {
    margin-left: 40px;

    .nav-link {
      color: $colorDarkGrey;
      font-family: $fontAsap;
      font-size: 20px;
      border-bottom: 2px solid transparent;
      transition: .3s;

      &:hover {
        border-bottom-color: $colorDarkGrey;
      }
    }
  }

  .page-content {
    margin-bottom: 170px;

    .title {
      font-family: $fontAsap;
      color: $colorDarkGrey;
      font-size: 88px;
      margin-bottom: auto;
    }

    .title-small {
      color: $colorGrey;
      font-size: 22px;
      font-family: $fontAsap;
      margin-bottom: 32px;
    }
  }

  .page-btn {
    @include btn;
    margin-right: 20px;
  }
}

.about {
  padding-top: 107px;
  padding-bottom: 127px;

  .about-title {
    @include title;
    max-width: 310px;
    margin-bottom: 13px;

    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background-color: $colorTitle;
      display: block;
    }
  }

  .about-text {
    font-size: 16px;
    color: $colorDarkGrey;
    font-family: $fontAsap;
    max-width: 470px;
    line-height: 26px;
    margin-bottom: 36px;
  }

  .about-btn {
    @include btn;

    &:hover {
      background-color: #000;
      color: #fff;
      margin: 0 auto;
    }
  }
}

.services {
  padding: 120px 0;
  background-color: #f6f6f6;

  .title {
    @include title;
    margin-bottom: 60px;

    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background-color: $colorTitle;
      display: block;
      margin: 0 auto;
    }
  }

  .item-proffer {
    margin-bottom: 80px;

    .icon {
      width: 77px;
      margin-bottom: 15px;
    }
  }
}

.skills {
  padding: 127px 0;

  .title {
    @include title;
    margin-bottom: 62px;

    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background-color: $colorTitle;
      display: block;
      margin: 0 auto;
    }
  }
}

.portfolio {
  padding: 127px 0;
  background-color: #f6f6f6;

  .title {
    @include title;
    margin-bottom: 46px;

    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background-color: $colorTitle;
      display: block;
      margin: 0 auto;
    }
  }

  .portfolio-img {
    margin-bottom: 10px;
  }

  .portfolio-btn {
    @include btn;
    margin-top: 30px;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.slider {
  padding-top: 125px;
  padding-bottom: 120px;

  .title {
    @include title;
    margin-bottom: 60px;

    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background-color: $colorTitle;
      display: block;
      margin: 0 auto;
    }
  }

  .slider-inner {
    border: 1px solid #000;
    padding-top: 80px;
    padding-bottom: 40px;

    .owl-carousel {

      .owl-item img {

        width: auto;
        margin-right: 30px;
      }

      .owl-nav {
        display: none;
      }

      .owl-dots {
        display: flex;
        justify-content: center;

        .owl-dot {
          border: 1px solid #000;
          padding: 7px !important;
          background: #fff;
          margin-right: 7px;
          margin-top: 15px;

          }
        .active {
          background-color: #000000;
        }
      }
    }

    .slide-title {
      font-family: 'Asap-500', sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      color: #343434;
    }

    .slide-small-title {
      font-size: 12px;
      font-family: 'Asap:400i', sans-serif;
      color: $colorGrey;
    }

    .slide-text {
      max-width: 560px;
      color: $colorGrey;
    }
  }
}

.total-main {
  background-color: #f6f6f6;
  padding: 80px 0;

  .total-icon {
    height: 74px;
    margin-bottom: 30px;
  }

  .total {
    font-size: 30px;
    font-family: $fontAsap;
    color: #333333;
  }

  .total-text {
    font-size: 22px;
    color: #333333;
  }
}

.footer {
  background: url("../images/footer-fon.png") center center no-repeat;
  background-size: cover;
  padding-top: 145px;
  margin-top: 60px;

  .title {
    font-size: 46px;
    color: #F0F0F0;
    font-family: $fontAsap;
    margin-bottom: 70px;

    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background-color:  #F0F0F0;
      display: block;
      margin: 0 auto;
    }
  }

  .footer-field {
    width: 340px;
    height: 60px;
    padding-left: 10px;
    border: none;
    background-color: #fff;
    color: #545454;
  }

  .footer-message {
    height: 210px;
    max-height: 210px;
    margin-top: 30px;
    padding: 10px;
    color: #545454;
    margin-bottom: 30px;
    resize: none;
  }

  .footer-btn {
    outline: none;
    border: none;
    background-color: #fff;
    padding: 17px 30px;
    font-family:  $fontAsap;
    color: $colorDarkGrey;
    margin-bottom: 60px;

    i{
      margin-left: 7px;
    }
  }

  .footer-bottom {
    border-top: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 35px;

    .social-link {
      text-decoration: none;
      display: inline-block;
      background-color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 18px;
      color: #4C4C4C;
      margin-right: 7px;
      margin-bottom: 10px;

      &:hover {
        background-color: #0085B7;
        color: #fff;
      }
    }

    .footer-text {
      margin-left: 230px;
      color: #fff;
      font-size: 20px;
      font-family: $fontAsap;
    }
  }
}